vicreg_pure/vicreg/ImageNet/
runs/
vicreg_pure/vicreg/exp/
vicreg_pure/vicreg/runs/
FloodNet_segmentation_task/DATA_HAR/
FloodNet_segmentation_task/DATA_HAR_2/
FloodNet_segmentation_task/DATA_HAR_B/
FloodNet_segmentation_task/FloodNet/
FloodNet_segmentation_task/building/
FloodNet_segmentation_task/flood/
FloodNet_segmentation_task/harvey/
FloodNet_segmentation_task/models/
__pycache__/
crowdai-mapping-challenge-mask-rcnn/
detectron2_crowdai_detection_task/test_bigger_lr/
detectron2_crowdai_detection_task/vicreg_resnet50_imagenet/
dubai_segmentation/
eurosat_landcover_clsf_task/__pycache__/
eurosat_landcover_clsf_task/2750/
eurosat_landcover_clsf_task/lulc.pth
eurosat_landcover_clsf_task/lulc_max_acc.pth
eurosat_landcover_clsf_task/FULL_DATA.csv
fmow_vicreg_bartu/
fmow_vicreg_no_transfor/
tensorboard_logs/
SN7_Dataset_Patched_csvs/
vicreg_pure/vicreg/__pycache__/
vicreg_pure/vicreg/checkpoint/
vicreg_pure/vicreg/fmow/
vicreg_pure/vicreg/embeddings_csvs/
Supervised_Backbone/models/
torch_2_keras_conversion/torchToOnnx.onnx
.cache/
.ipynb_checkpoints/
.vscode/
vicreg_pure/vicreg/README.md
